
/* Header */
.header-movil{
    all: unset;
    display: contents ;
}

/* Info */
.progress{
    width: 70%; 
    margin-left: 20px;

}

.progress-bar{
    background: gray;
}

.h5-form{
    font-size: 16px;
    text-decoration: bold;
}

/* Footer */

.icono{
    height: 50px;
    width: 50px;
    font-size: 35px;
    text-decoration: none;
    
}


/* ---- ADDONS ---- */

#box-desplegable-experiencia, #box-desplegable-contacto{
    background: var(--fondo-light-modal);
}

