/* ===============
    * Estilos Generales *
=============== */

img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

body{
    font-family: $font1;
    font-size: 18px;
    color: rgb(var(--text-light));
    height: 100vh; 
    width: 100%;
    background: rgb(var(--fondo-light-1));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

a, span{
    color: var(--iconos-light);
    text-decoration: none;
}

li{
    padding-top: 15px;
    padding-left: 10px;
    list-style: none;

    line-height: 20px;
}

ul{
    margin: 0;
    padding: 0 !important;
}

.container{
    max-width: 90%;
    width: $max-container;
    margin: 20px auto;
    overflow: hidden;
}

.container-full{
    width: 100%;
    padding: 0 40px;
}