//VARIABLES
$font1: 'Open Sans', Arial, sans-serif;
$font2: 'Roboto', sans-serif;
$font3: 'Jersey 10', sans-serif;
$max-container: 1200px;

// COLORES
$primary:#0D6EFD;
$secondary:#6C757D;
$success: #198754;
$info:#0DCAF0;
$warning:#FFC107;
$danger:#DC3545;
$light:#F8F9FA;
$dark:#212529;
$white:#FFF;
$black:#000;
$indigo:#6610F2;
$gray:#6C757D;

//COLORES PERSONALIZADOS / AUTOM. COLOR

:root{

    --fondo-light-1: rgb(182, 182, 182);
    --fondo-dark-1: rgb(26, 26, 26);
    --fondo-light-2: rgb(201, 199, 199);
    --fondo-dark-2: #494949;

    --fondo-light-modal: rgba(201, 199, 199, 0.7);
    --fondo-dark-modal: rgba(61, 61, 61, 0.7);
    //buscar la manera de canviar el color a todo a la vez (id por id me pego un tiro)
    --iconos-light: #494949;
    --iconos-dark: rgb(182, 182, 182);

    --text-light: #494949;
    --text-dark: rgb(182, 182, 182);

    --border-light: #1b1b1b;
    --border-dark: rgb(209, 209, 209);

}

$colores:(
"primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark,
"white": $white,
"black": $black,
"indigo": $indigo,
"gray": $gray
);

$grays: (
    100: #f8f9fa,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #abd5bd,
    600: #6c757d,
    700: #495057,
    800: #343a40,
    900: #212529,
);