@media screen and (max-width: 1228px){
    
    .main{
        width: 60%;
    }

    .main.expand{
        width: 75% ;
        height: 90% ;
    }
    
    .info-2-content{
        margin: none;
        width: 100%;
    }


    .content{
        width: 60%;
    }
}